<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  
  
	<title>BackOffice</title>
</head>
<body>
<nav id="backoffice" class="navbar navbar-expand-lg  bg-dark static-top">
            <div class="container">
            
            <h2 span style="color:rgb(255, 255, 255)">BackOffice</h2>
        </nav>


	<div class="container" id="contenedor">
			<div align="center">
		<h1>Responder mensajes</h1>
		<h2>FORMULARIO DE RESPUESTA MENSAJES</h2>
		<form method="post" th:action="@{/adminMensajes}" th:object="${mensaje}">
			<input id="id" th:field="*{id}" hidden />
			<table class="table table-striped">
				<tr>
					<td><label for="nombre">Nombre:</label></td>
					<td th:text="${mensaje.nombre}" />
				</tr>
				<tr>
					<td><label for="fecha">Fecha:</label></td>
					<td th:text="${mensaje.fecha}" />
				</tr>
				<tr>
					<td><label for="asunto">Asunto:</label></td>
					<td th:text="${mensaje.asunto}" />
				</tr>
				<tr>
					<td><label for="respuesta">Respuesta:</label></td>
					<td th:text="${mensaje.respuesta}"></td>
				</tr>
				
			</table>
			<input type="submit" value="Responder mensaje">

		</form>
		</div>
	</div>
</body>
</html>


	

