<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    
    <link rel="stylesheet" href="/css/estilos.css">
    
	<!--links de los iconos (fontawesome)-->
    <script src="https://kit.fontawesome.com/11d96a27eb.js" crossorigin="anonymous"></script>

	<title>BackOffice</title>
</head>
<body>

<nav id="backoffice" class="navbar navbar-expand-lg  bg-dark static-top">
            <div class="container">
            
            <h2 span style="color:rgb(255, 255, 255)">BackOffice</h2>
        </nav>



	<div class="container" id="contenedor">
		<div align="center">
			
			<h1>Listado de empleados</h1>
			<p>Estos son los datos de la tabla de empleados</p>
			<table class="table table-responsive table-striped">



				<thead>
					<tr>
						<th> id </th>
						<th> Nombre </th>
						<th> Apellidos </th>
						<th> Resumen </th>
						<th> Foto </th>
						<th> Cargo </th>
						<th class="opc"> Opciones </th>
						<th> </th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="empleado : ${equipoList}">
						<td th:text="${empleado.id}" />
						<td th:text="${empleado.nombre}" />
						<td th:text="${empleado.apellidos}" />
						<td th:text="${empleado.resumen}" />
						<td th:text="${empleado.foto}" />
						<td th:text="${empleado.cargo.getCargo()}" />
						<td><a class="btn btn-outline-secondary" th:href="@{/editar(id=${empleado.id})}">
								<i class="fas fa-edit"></i>
							</a>
						</td>
						<td>
							<a class="btn btn-outline-danger" th:href="@{/eliminar(id=${empleado.id})}">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
						
						<!--<td><button type="button"><a class="btn btn-outline-secondary" th:href="@{/editar(id=${empleado.id})}">Modificar</a></button>
                    		</br></br><button type="button"><a class="btn btn-outline-danger" th:href="@{/eliminar(id=${empleado.id})}">Eliminar</a></button></td>-->
                    		
                    		
						<!--<td><a th:href="@{/editar(id=${empleado.id})}">Modificar</a> | 
                    		<a th:href="@{/eliminar(id=${empleado.id})}">Eliminar</a></td>-->
					</tr>
				</tbody>
			</table>
			

				
				<button type="button" class="btn btn-success alta"><a href="/admin/equipo/alta">Alta empleado</a></button>

		
			
		</div>
	</div>
</body>
</html>