<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    
    <link rel="stylesheet" href="/css/estilos.css">
    
	<!--links de los iconos (fontawesome)-->
    <script src="https://kit.fontawesome.com/11d96a27eb.js" crossorigin="anonymous"></script>
       
	

	<title>BackOffice</title>
</head>
<body>

<nav id="backoffice" class="navbar navbar-expand-lg  bg-dark static-top">
            <div class="container">
            
            <h2 span style="color:rgb(255, 255, 255)">BackOffice</h2>
        </nav>



	<div class="container" id="contenedor">
		<div align="center">
			
			<h1>Listado de mensajes</h1>
			<p>Estos son los datos de la tabla mensajes</p>
			<table class="table table-responsive table-striped">



				<thead>
					<tr>
						<th> id </th>
						<th> Nombre </th>
						<th> Fecha </th>
						<th> Asunto </th>
						<th> Mensaje </th>
						<th> Respuesta </th>
						<th class="opc"> Respondido/Responder </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mensaje : ${mensajesList}">
						<td th:text="${mensaje.id}" />
						<td th:text="${mensaje.nombre}" />
						<td th:text="${mensaje.fecha}" />
						<td th:text="${mensaje.asunto}" />
						<td th:text="${mensaje.mensaje}" />
						<td th:text="${mensaje.respuesta}"></td>
						<td><input type="checkbox" name="cuchara"
						onchange="getrespondido(this)" th:checked="${mensaje.respondido}" />
						&nbsp&nbsp&nbsp&nbsp&nbsp
						<a class="btn btn-outline-secondary" th:href="@{/admin/mensajes/responder(id=${mensaje.id})}">
								<i class="fas fa-edit"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		
			
		</div>
	</div>
</body>
</html>