<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>




    <script src="https://kit.fontawesome.com/11d96a27eb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <!--load all styles -->

    <title>Equipo</title>

    <link rel="stylesheet" href="css/estilos.css">


</head>

<body>



    <header>


        <!-- Navigation -->
        <nav id="menu" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="logo-jg" src="img/logojavagen.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                         <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/proyectos">Proyectos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/equipo">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navigation -->
        <header>
            <div id="cabecera-equipo" class="container"></div>
             
        </header>


	<main>


		<section id="fondo-metodos">
			<div id="metodos" class="container">
				<h2>NUESTRA MISIÓN</h2>
				<h3>Queremos construir una compañía líder en Transformación Digital a través de la unión de personas,
					tecnología y negocio.</h3>
				<h2>Y para ello...</h2>
				<div class="row">

					<div class="col-sm-12 col-md-6 col-lg-3">

						<i class="fas fa-lightbulb"></i>
						<h5>IDEAMOS</h5>


						<p>Organizamos sesiones conjuntas de equipo y planteamos métodos de design thinking para extraer
							y ordenar las mejores ideas</p>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3">

						<i class="fas fa-palette"></i>
						<h5>DISEÑAMOS</h5>
						<p>Investigamos a tu cliente/usuario para ponernos en su piel y diseñamos con metodologías
							ágiles la mejor solución para empezar a construir un MVP</p>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3">

						<i class="fas fa-hammer"></i>
						<h5>CONSTRUIMOS</h5>
						<p>Buscamos la mejor solución tecnológica para tu proyecto, diseñamos la interfaz y la
							experiencia y lo prototipamos</p>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3">

						<!--<i class="fas fa-puzzle-piece"></i> -->
						<i class="fas fa-cubes"></i>
						<h5>TESTAMOS/ESCALAMOS</h5>
						<p>Probamos y validamos el MVP, sacamos a producción y lo testamos con usuarios, medimos y
							corregimos o escalamos</p>
					</div>

				</div>

			</div>
		</section>

		<section id="equipo" class="container pt-2">
			<h2>NUESTRO EQUIPO</h2>
			<div class="row">



				<div id="real" class="col-sm-12 col-md-4 col-lg-4 team" th:each="empleado: ${equipoList}">
					<img th:src="${empleado.foto}" alt="">
					<h3 th:text="${empleado.nombre} + ' ' + ${empleado.apellidos}"></h3>
					<h5 th:text="${empleado.cargo.getCargo()}"></h5>
					<p th:text="${empleado.resumen}"></p>
				</div>


				<div id="falso" class="col-sm-12 col-md-4 col-lg-4 team" th:each="emplFalso: ${listaEmpFalsos}">
			<!--<img th:src="@{'https://picsum.photos/200/300?random=' + ${emplFalso.id}}" alt=""> -->
				
			<!--<img th:src="@{'https://thispersondoesnotexist.com/image?random=' + ${emplFalso.id}}" alt=""> -->
				
			<!--  	<img th:src="${emplFalso.genero} ? '@{'https://randomuser.me/api/portraits/women/' + ${emplFalso.id}} +'.jpg'' : '@{'https://randomuser.me/api/portraits/men/' + ${emplFalso.id}} +'.jpg''" alt=""> --> 
				<img th:src="${emplFalso.foto2}" alt="">
					<h3 th:text="${emplFalso.nombre} + ' ' + ${emplFalso.apellidos}"></h3>
					<h5 th:text="${emplFalso.cargo}"></h5>
					<p th:text="${emplFalso.resumen}"></p> 
				</div> 



			</div>

	</main>



	<!-- Footer -->
	<footer class="bg-dark text-center text-white">
		<!-- Grid container -->
		<div class="container p-4">
			<!-- Section: Social media -->
			<section class="mb-4">
				<!-- Facebook -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
						class="fab fa-facebook-f"></i></a>

				<!-- Twitter -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
						class="fab fa-twitter"></i></a>


				<!-- Instagram -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
						class="fab fa-instagram"></i></a>

				<!-- Linkedin -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
						class="fab fa-linkedin-in"></i></a>


			</section>


			<!-- Section: Form -->
			<section class="">
				<form action="">
					<!--Grid row-->
					<div class="row d-flex justify-content-center">
						<!--Grid column-->
						<div class="col-auto">
							<p class="pt-2">
								<strong>Suscríbete a nuestra newsletter</strong>
							</p>
						</div>

						<div class="col-md-5 col-12">

							<div class="form-outline form-white mb-4">
								<input type="email" id="form5Example2" class="form-control" placeholder="Email">

							</div>
						</div>
						<div class="col-auto">
							<!-- Submit button -->
							<button type="submit" class="btn btn-outline-light mb-4">
								Suscribir
							</button>
						</div>
				</form>

				<div class="col-sm-12 col-md-4 col-lg-4">


					<p><i class="fas fa-phone me-3"></i> +34 91 564 34 57</p>

				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">


					<p><i class="fas fa-envelope me-3"></i>info@javageneration.com</p>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4">


					<p><a href="https://goo.gl/maps/FZK5yojk6GewZatc9" target="_blank"><i
								class="fa fa-map-marker-alt"></i></a>Paseo de la Castellana, 135, Madrid</p>
				</div>
				<div class="col-sm-12 col-lg-4">
					Java Generation 2021 ©
					<a href="legal.html" target="_blank">Aviso legal</a>

				</div>




			</section>


	</footer>




</body>