<!doctype html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>




    <script src="https://kit.fontawesome.com/11d96a27eb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <!--load all styles -->

    <title>Proyectos</title>

    <link rel="stylesheet" href="css/estilos.css">


</head>

<body>



    <header>


        <!-- Navigation -->
        <nav id="menu" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="logo-jg" src="img/logojavagen.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/proyectos">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/equipo">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navigation -->
        <header>
            <div id="cabecera-proyecto" class="jumbotron-fluid">
                <div class="container">


                </div>
            </div>
        </header>
        <main>
            <section id="fondo-metodos">
                <div id="proyectos" class="container">
                    <h2>PROYECTOS</h2>
                    <h3>Te presentamos algunos de nuestros casos de éxito</h3>
                    <h5>Nuestros expertos tienen la experiencia multidisciplinaria, el conocimiento global y la
                        experiencia
                        operativa necesaria para maximizar el éxito de su proyecto.</h5>
                        <div class = "row">



    

                    <div id="caja-proyectos" class="col-sm-12 col-md-6 col-lg-6" th:each="proyecto: ${proyectos}">
                        <div th:id="${proyecto.imagen}" class="proyecto-bloque">
                            <h3 th:text="${proyecto.proyecto}"></h3>
                        </div>
                        <div class="accordion">
                        
                            <i class="fas fa-plus-circle"></i> </div>
                        <div class="caja-acorddion">
                            <h3 th:text="${proyecto.proyecto}"></h3>
                             <h5 th:text="${proyecto.cliente.getNombre}"></h5>
                            <h5 th:text="${proyecto.fechafin}"></h5>
                            <p th:text="${proyecto.resumen}"></p>
                            <p th:text="${proyecto.descripcion}"></p>
                        </div>

                    </div>

      

                    </div>


                  
    
                   

                    
                </div>

                </div>
                
            </section>


            <!-- PROYECTOS -->



            <!-- PROYECTOS -->



        </main>



        <!-- Footer -->
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Social media -->
                <section class="mb-4">

                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>


                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>


                </section>


                <!-- Section: Form -->
                <section class="">
                    <form action="">
                        <!--Grid row-->
                        <div class="row d-flex justify-content-center">
                            <!--Grid column-->
                            <div class="col-auto">
                                <p class="pt-2">
                                    <strong>Suscríbete a nuestra newsletter</strong>
                                </p>
                            </div>

                            <div class="col-md-5 col-12">

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="form5Example2" class="form-control" placeholder="Email">

                                </div>
                            </div>
                            <div class="col-auto">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-outline-light mb-4">
                                    Suscribir
                                </button>
                            </div>
                    </form>

                    <div class="col-sm-12 col-md-4 col-lg-4">


                        <p><i class="fas fa-phone me-3"></i> +34 91 564 34 57</p>

                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">


                        <p><i class="fas fa-envelope"></i>info@javageneration.com</p>

                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">


                        <p><a href="https://goo.gl/maps/FZK5yojk6GewZatc9" target="_blank"><i
                                    class="fa fa-map-marker-alt"></i></a>Paseo de la Castellana, 135, Madrid</p>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        Java Generation 2021 ©
                        <a href="legal.html" target="_blank">Aviso legal</a>

                    </div>




                </section>


        </footer>

        
        
      <script>
$('.fa-plus-circle').on('click', function () {
$(".caja-acorddion").toggle();

});
	
</script>
    
 



</body>