*{
	box-sizing: border-box;
}

body {
	

	margin: 0px;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Montserrat', sans-serif;

}



h1{
	color: black;
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: center;
	
}


h4{
	color: black;
	font-style: italic;
	margin-bottom: 5%;
	padding-top:5%;
	padding-left: 10%;
}

p{
	color: black;
	
	text-align: justify;
}



img{
	display: block;
	height: auto;
    width: 100%;
	
}

#cabecera{
	
	background-image: url(../img/fondo6.jpg);
	height: auto;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	color: rgb(224, 157, 12);
	font-style: italic;
	text-align: center;
	padding: 10%;
	
}


#cabecera h2{
	margin-top: 6%;
}

#cabecera-proyecto{
	background-image: url(../img/pc3.jpg);
	height: auto;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	color: rgb(224, 157, 12);
	font-style: italic;
	text-align: center;
	padding: 20%;
}

#cabecera-equipo{
	padding-top: 8%;
}
#equipo h2{
	font-weight: bold;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 3%;;
	border-top: 2px dashed rgb(224, 157, 12);
}


#equipo img{
	width:50%;
	margin: auto;
}


.btn-success {

  color: #fff;
  background-color:rgb(224, 157, 12);
  width: 15vh;
  border-color: #007bff;
  border-radius: 25px;
  margin-top: 2%;
	border: 1px solid #FFFFFF;
	transition: all 0.3s ease;
  margin-bottom: 5%;
}



.btn-primary:hover {
  color: black;
  background-color: #fff;
  border-color: #0062cc;
  border: 1px solid rgb(224, 157, 12);
}






.logo-jg{
	width: 20vh;
	height:7.5vh;
	margin-bottom: 1%;
}

#scrum{
	
		background-image: url(../img/scrum.jpg);
		margin: 0px;
		height: 200px;
		background-position: center top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		font-family: 'Montserrat', sans-serif;
}


  .box{
	  border: 2px dashed  rgb(224, 157, 12);
	margin-top: 5%;
	margin-bottom: 1%;
	padding: 5%;

  }

  .box i{
	margin-top: 5%;
  }
  
  .name-descripeion{
	  font-weight: bold;
  }

  .responsive {
	width: 100%;
	height: auto;
  }
  .card{
	
	border: 2px dashed  rgb(224, 157, 12);
	padding: 5%;

  margin-top: 5%;
  margin-bottom: 5%;
  }
.card-title{
	padding-right: 9%;
}

#filosofia{
	
	background-image: url(../img/filosofia.jpg);
	margin: 0px;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	padding-top: 10%;
}
#proyectos{
	text-align: center;	
	height: auto;
	
}


#proyectos h2{
	font-weight: bold;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1%;	
}

#proyectos h3{
	margin-bottom: -1%;
}

#proyectos h5{
	margin-top: 3%;
	margin-bottom: 3%;
	font-weight: bold;
	padding-bottom: 3%;
	border-bottom: 2px dashed rgb(224, 157, 12);
}



#metodos{
	text-align: center;	
	height: auto;
	
}


#metodos h2{
	font-weight: bold;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1%;	
}

#metodos h3{
	margin-bottom: -1%;
}

#metodos h5{
	font-weight: bold;
}

#metodos i{
	color:rgb(224, 157, 12);
	font-size: 2.5em;
	margin-bottom: 5%;

}

#metodos p{
	text-align: center;

	margin-bottom: 10%;
}

img{
	display: block;
	height: auto;
    width: 100%;
	
}
.team{
	text-align: center;
	padding-bottom: 2%;
	
	
}


.team img{
	border: 1px solid black;
	
}
.team h3{
	padding-top: 3%;
}

.team h5{
	font-style: italic;
	font-weight: bold;
}

.team p{
	text-align: center;
}



#fondo-empresas{
	background-color: rgba(230, 221, 221, 0.815);
}

#empresas{

	height: auto;
	width: 100%;
	
	margin-top: 0%;
	padding-bottom: 2%;
	text-align: center;
}


#empresas h2{
	font-weight: bold;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1%;
	
}

#caja-proyectos{
	margin-bottom: 5%;
}
#caja-proyectos h3{
	padding-top: 3%;
	
	
}

.accordion i {
	cursor: pointer;
	transition:color 0,5s ease;
	padding-top: 3%;
	font-size:x-large;
	color:rgb(224, 157, 12);
}

.caja-acorddion{
	display:none;

	
}

.fa-plus-circle{
	color:pink;
}


.proyecto-bloque{


	margin: 0px;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	padding-top: 15%;
	transition: all 0.5s ease-in;
}


.proyecto-bloque h3{
	text-align: center;
	line-height: 175px;;
	color: transparent;
	font-weight: bold;
	color: rgb(224, 157, 12);
	transition: all 0.5s ease-in;
}

.proyecto-bloque h3:hover{
	color: transparent;
	
}

#movieflix{
	background-image: url(../img/movieflixhover3.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}


#movieflix:hover{
	background-image: url(../img/movieflix3.png);
	border: none;
	
	
	
}

#landing{
	background-image: url(../img/landinghover2.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}


#landing:hover{
	background-image: url(../img/landing2.png);
	border:2px dashed rgb(224, 157, 12);
	border: none;
}



#fiber{
	background-image: url(../img/fiberhover3.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}

#fiber:hover{
	background-image: url(../img/fiber3.png);
	border:2px dashed rgb(224, 157, 12);
	border: none;
}

#corte{
	background-image: url(../img/corte4hover.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}

#corte:hover{
	background-image: url(../img/corte4.png);
	border:2px dashed rgb(224, 157, 12);
	border: none;
}

#neutrales{
	background-image: url(../img/neutraleshover2.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}

#neutrales:hover{
	background-image: url(../img/neutrales2.png);
	border:2px dashed rgb(224, 157, 12);
	border: none;
}

#pwc{
background-image: url(../img/pwchover2.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}

#pwc:hover{
	background-image: url(../img/pwc2.png);
	border:2px dashed rgb(224, 157, 12);
	border: none;
}

#telecinco{
	background-image: url(../img/t5hover.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}

#telecinco:hover{
	background-image: url(../img/t5.png);
	border:2px dashed rgb(224, 157, 12);
	border: none;
}

#porcelanosa{
		background-image: url(../img/porcelanosahover2.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}

#porcelanosa:hover{
	background-image: url(../img/porcelanosa2.png);
	border:2px dashed rgb(224, 157, 12);
	border: none;
}

#santander{
	background-image: url(../img/santander2hover.png);
	transition: all 0.5s ease-in;
	border:2px dashed rgb(224, 157, 12);
}

#santander:hover{
	background-image: url(../img/santander2.png);
	border:2px dashed rgb(224, 157, 12);
	border: none;
}
footer {
	height: auto;
	width: 100%;
    background-color: rgba(0,0,0,0.77);
	margin-bottom: 0;
	padding-top: 1%;
	padding-bottom: 0;
	bottom: 0;
	
}

footer i {
    color: white;
    font-size: 2em;
    margin: 2%;
	transition: all 0.3s ease;
	padding: 4%;
	
}

footer i:hover {
	color: rgb(224, 157, 12);
	font-size: 2.5em;

}

footer p{
color: white;
}

footer a{
	font-style: italic;
	color: gray;
	margin-top: 10%;
}

.fa-phone{
transform: rotatey(180deg);
}




#hard a:hover {
	text-decoration: none!important;
  }
  #hard  .dedcription-btn {
	width: 40%;
	position: relative;
	display: inline-block;
	border-radius: 30px;
	background-color: #fcfcfc;
	color: #000000;
	border-radius: 25%;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	text-decoration: black;
	padding: 9px 0;
	transition: all 0.3s;
	padding-right: 40px;
	margin: 20px 5px;
	
  }
  #hard  .dedcription-btn .btn-icon {
	background-color: #ffa000;
	width: 92px;
	height: 45px;
	float: right;
	position: absolute;
	
	right: 0px;
	top: 0px;
	transition: all 2s;
  }
  #hard .name-descripeion {
	position: relative;
	z-index: 9999;
  }
  #hard .btn-icon::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 45px solid #fcfcfc;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0px;
	left: 0px;
  }
  #hard .dedcription-btn:hover .btn-icon {
	width: 100%;
	
  }
  #hard .dedcription-btn:hover .btn-icon::after {
	display: none;
	opacity: 0.1;
  }
  #hard .btn-icon i {
	  font-size:medium;
	position: absolute;
	right: 25px;
	top: 15px;
	color: rgb(255, 255, 255);
  }
  #hard .dedcription-btn:hover {
	color: #fff!important;
  }
 
  #hard .hover-box {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
  }



  @media (max-width: 600px) {
	#cabecera h2{
		margin-top: 20%;
	}

	#cabecera-equipo{
		padding-top: 20%;
	}
}


#bloque-movieflix h2{
	font-weight: bold;
	font-style: italic;
}
#cabecera-movieflix{
	background-image: url(../img/movieflixdesktop.jpg);
	height: auto;
	background-position: center top;

	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	color: rgb(224, 157, 12);
	
	text-align: center;
	padding: 25%;
	margin-top: -10%;
	margin-bottom: -8%;
}

#bloque-movieflix{
	text-align: center;
}

#bloque-movieflix h3{
	margin-top: 12%;
	font-weight: bold;
}
	

#bloque-movieflix h4{
	margin-top: 12%;
	font-weight: bold;
}

.texto-movieflix{
	margin-left: -7%;
	margin-right: 10%;
}


#contacto{
	text-align: center;	
	height: auto;
	
}


#contacto h2{
	font-weight: bold;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 1%;	
}

#contacto h3{
	font-weight: bold;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 3%;;
	border-top: 2px dashed rgb(224, 157, 12);
}

#contacto h5{
	font-weight: bold;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 3%;;
	
}

#contacto i{
	color:rgb(224, 157, 12);
	font-size: 2.5em;
	margin-bottom: 5%;

}

#contacto p{
	text-align: center;

	margin-bottom: 10%;
}

#contacto button{

	background-color:rgb(236, 166, 14);
	border: none;
	transition: all 0.5s ease-in;
	margin-bottom: 5%;
	
}

#contacto button:hover{

	background-color:rgb(0, 0, 0);
	border: none;
	
	
}

#contacto input{
	
	border: 1px solid rgb(236, 166, 14);
}

#message{
	border: 1px solid rgb(236, 166, 14);
}

.map-container{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	margin: 5%;
	
	}
	.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	}

	
	#cabecera-landing{
		background-image: url(../img/landingpc2.png);
		height: auto;
		background-position: center top;
	
		background-repeat: no-repeat;
		background-size: cover;
		font-family: 'Montserrat', sans-serif;
		padding: 15%;
		margin-top: 5%;
		margin-bottom: -8%;
		
	}

	#cabecera-landing h1{
		text-align: right;
		font-weight: 900;
		margin-left: -5%;
	}

	
	#bloque-landing{
		text-align: center;
		padding-bottom: 5%;
	}

	#bloque-landing h2{
		font-weight: bold;
		font-style: italic;
	}
	
	#bloque-landing h3{
		margin-top: 12%;
		font-weight: bold;
	}
		
	
	#bloque-landing h4{
		margin-top: 12%;
		font-weight: bold;
	}
	
	#bloque-landing h5{
		
		font-weight: bold;
	}

	#bloque-landing p{
		text-align: center;
	}

	#bloque-landing i{
		text-align: justify;
		color:rgb(87, 161, 13);
		font-size: xx-large;
		margin: 5%;
	}

	#bloque-landing img{
		margin-left: -15%;
	}
		
		

	.italic{
	margin-top: 3%;
		font-style: italic;
		font-weight: lighter;
	}

	.caja-landing{
		margin: 5%;
		
	}



.alta a{
	color: #fff;
}